<a href='/'>
	<button class='btn btn-warning'>
		<span class='glyphicon glyphicon-home' aria-hidden='true'></span>
	</button>
</a>
<h1 id="header">{{data.artist}} - {{data.title}}</h1><br>
<!-- 
	append the data to the table body here
	
	When looping through the array, each index is represented by 'this'

	an example of looping through an array through handlebars

	array on server side 
	var whatever = ['hello', 'goodbye'];

	res.render('home', {data: whatever})
	'home' is represented by home.handlebars here

	looping on client side
	{{#each data}}
		<span>{{this}}</span>
	{{/each}}

-->