<link rel="stylesheet" type="text/css" href="./public/css/home.css">
<script src="./public/js/home.js"></script>

<div class="container">
	<h1>Handlebars If</h1>
	{{!-- write your if or unless statement here, up to you --}}
	{{!-- it should read {{#if posts}} {{else}} {{/if}} --}}
	{{!-- remember, that is saying 'if there is a post key in the object being sent over'--}}
	{{!-- https://github.com/nycda-wdi-jared/express_handlebars/blob/master/first_lesson/lessons/without_data/client/public/views/home.handlebars --}}
</div>