<link rel="stylesheet" type="text/css" href="./public/css/home.css">
<script src="./public/js/home.js"></script>

<div class="container">
	<h1>Handlebars Scrape</h1>
	<div id="append-all-div" class="row">
		<div class="col-md-3">
			<h4>Comment on Team Stats Here</h4>
			<div id="inputDiv"></div>
		</div>
		<div class="col-md-5">
			<h3 class="text-center">2017 NFL Team Points Per Game Average</h3>
			<div id="nfl-team" class="text-center"></div>
			<div id="np-buttons" class="text-center center-block">
				<button id="next-button" class="btn btn-primary">Next Team</button>
				<button id="previous-button" class="btn btn-primary">Previous Team</button>
			</div>
		</div>
		<div class="col-md-3">
			<div id="comments-div"></div>
		</div>
	</div>
</div>