<link rel="stylesheet" type="text/css" href="./public/css/home.css">
<script src="./public/js/home.js"></script>

<div class="container">
	<h1>What's up Handlebars</h1>
	<h2>{{data}}</h2>
	<h3>{{word}}</h3>
	{{#each arr}}
		<p>{{this}}</p>
	{{/each}}
</div>