<link rel="stylesheet" type="text/css" href="./public/css/home.css">
<script src="./public/js/home.js"></script>

<div class="container">
	<h1>What's up Other page in handlebars</h1>
	<h3>Look at the architecture here</h3>
</div>