<link rel="stylesheet" type="text/css" href="./public/css/home.css">
<script src="./public/js/home.js"></script>

<div class="container">
	<h1>Users</h1>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Occupation</th>
			<th>Age</th>
			<th>Bald?</th>
		</tr>
		<!-- append the data to the table body here -->
	</table>
</div>