<link rel="stylesheet" type="text/css" href="./public/css/home.css">
<script src="./public/js/home.js"></script>

<div class="container">
	<h1>Songs & Lyrics</h1>
	{{#each songs}}
		<h2>{{this.artist}} - {{this.title}}</h2>
		<h3>Lyrics</h3>
		<span>{{this.lyrics}}</span>
	{{/each}}
</div>