<link rel="stylesheet" type="text/css" href="../public/css/footer.css">
<script src="../public/js/footer.js"></script>

<footer>
	<div class="text-center">
		<p id="footerP">Welcome to the App</p>
	</div>
</footer>